- content_for :footer do
  = javascript_include_tag 'showdown'

.readable
  = simple_form_for resource, :url => admin_job_path(resource), :html => {:multipart => true} do |f|
    %fieldset
      %legend Edit Job
      = f.input :title
      = f.input :description
      = f.input :published_at, :as => :date
      .input
        %label &nbsp;
        = f.button :submit, 'Save'

.job.readable
  %h2 Preview
  %h3
    %a{:href => '#'}
      = @job.title || "&nbsp;"
  .job-description#markdown-target
    = MARKDOWN.render(@job.description).html_safe
