- content_for :footer do
  = javascript_include_tag 'showdown'

%li.readable
  = simple_form_for @job, :url => admin_job_path(@job), :html => {:multipart => true} do |f|
    %fieldset
      %legend Edit Job
      = f.input :title
      = f.input :company
      = f.input :salary, label: "Salary range"
      = f.input :description
      = f.input :published_at, :as => :date
      .if-no-contact
        = "If they didn't leave a way to apply, append this to the bottom: \"To apply, please contact [#{@job.try(:user).try(:name)}](mailto:#{@job.try(:user).try(:email)})"
      .input
        %label &nbsp;
        = f.button :submit, 'Save'

%li.job.readable
  %h2 Preview
  %h1= @job.title || "&nbsp;"
  .job-description#markdown-target
    = MARKDOWN.render(@job.description).html_safe
