.container
  %h2 Jobs

  #job-view-filter= job_view_links
  %p= link_to 'Create a New Job', new_admin_job_path, class: 'button-black'
  %table#jobs
    %tr
      %th Name
      %th Requested
      %th Published
      %th Expires
      %th Views
      %th Actions
    - @jobs.each do |job|
      %tr
        %td= job.name
        %td.requested= l(job.created_at, format: :murican)
        %td.published= l(job.published_at, format: :murican) unless job.published_at.nil?
        %td.expires= l(job.expires_at, format: :murican) unless job.expires_at.nil?
        %td.views= job.views || 0
        %td.actions
          = link_to 'edit', edit_admin_job_path(job), title: 'edit'
          |
          = link_to 'close', close_admin_job_path(job), method: :post, title: 'close', confirm: 'Are you sure you wanna close this job?'
          |
          = link_to 'delete', admin_job_path(job), method: :delete, title: 'delete', confirm: 'Are you sure you wanna destroy this job?'
  = paginate(@jobs)
