%li.readable
  = simple_form_for @job, :url => admin_jobs_path do |f|
    %fieldset
      %legend New Job
      = f.input :title
      = f.input :company
      = f.input :description
      .input
        %label &nbsp;
        = f.button :submit, 'Save'
