- content_for :head do
  = stylesheet_link_tag 'markitup/style.css', 'markitup/markdown/style.css'
- content_for :footer do
  = javascript_include_tag 'showdown'
  = javascript_include_tag 'markitup/jquery.markitup.js', 'markitup/set.js'
  :javascript
     $(document).ready(function() {
        $("textarea").markItUp(mySettings);
     });

%section.readable#new-blog-post
  = simple_form_for resource, :url => admin_post_path(resource), :html => {:multipart => true} do |f|
    %fieldset
      %legend New Post
      = f.input :title
      = f.input :body, :label => false
      = f.input :published_at, :as => :date
      .input
        %label &nbsp;
        = f.button :submit, 'Save'

.grid_10.prefix_1
  %section#preview
    %article.readable
      %h1= resource.title
      = resource.body_html.html_safe
