%li#sign_in
  %h2 Sign in
  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %fieldset
      = f.input :email, :as => :string
      = f.input :password
      - if devise_mapping.rememberable?
        = f.check_box :remember_me
      .input
        %label &nbsp;
        = f.button :submit, "Sign in"
  = render :partial => "devise/shared/links"
