- content_for :footer do
  = javascript_include_tag 'showdown'

- title 'Job Post Request'

%li#job_post_request
  %h1 Find Indianapolis' Most Passionate Programmers, Designers, PMs, Testers, and More

  %p You want to get your open position in front of the local tech community. Lucky for you, Indy Hackers has deep roots with developers, designers, makers, and other technical folks living in the Indianapolis metropolitan area. If you need a nerd, you need to post here.

  :markdown
    Simply fill in the few fields below, and we will quickly review your job and put it in front of the best and brightest in Indy. Check out [our Job Board Policy](https://github.com/indyhackers/job_board_policy), as we do have a few things we ask of you.

    Make sure you provide information as to how a candidate should get their résumé to you.

  = simple_form_for @job_post_request, html: {multipart: true} do |f|
    %fieldset
      %legend Your contact info
      = f.input :name
      = f.input :email, as: :string, hint: "Address to receive info about your post's status from IndyHackers"
    %fieldset
      %legend The job's info
      = f.input :title, input_html: { class: "job_title" }
      = f.input :company, input_html: { class: "job_company" }

      %p
        While a salary or salary range is not required, we do encourage you to provide one if you can. Read the&nbsp;
        %a{href: '/coc', target: "coc"}> Code of Conduct
        &nbsp;to understand why we believe providing a salary range up front is important.
      = f.input :salary, label: "Salary range", input_html: { class: "job_salary" }
      %p
        %strong Note:
        Job posts use Markdown syntax. See&nbsp;
        %a{href: 'http://daringfireball.net/projects/markdown/syntax'}>  this Markdown reference
        \. For instance, a '+' before a line turns it into a list item!

      %ul.tab-menu
        %li.active
          %a{ href: '#' } Edit
        %li
          %a{ href: '#' } Preview
      .tab-container.active
        = f.input :description, as: :text
        .input
          %label &nbsp;
          = f.button :submit, 'Send'
      #live-preview.tab-container
        #single-job.job.readable
          %h1 &nbsp;
          .job-description#markdown-target
            &nbsp;
          .clear &nbsp;

    .clear &nbsp;
