- content_for :footer do
  = javascript_include_tag 'showdown'

- title 'Job Post Request'

%li#job_post_request
  %h1 Find Indianapolis' Most Passionate Programmers

  %p You want to get your open position in front of quality, local programmers. Lucky for you, this site's demographic consists primarily of high quality programmers that live in the Indianapolis metropolitan area. If you need a nerd, you need to post here.

  :markdown
    Simply fill in the few fields below, and we will quickly review your job and put it in front of the best and brightest in Indy. Check out [our Job Board Policy](https://github.com/indyhackers/job_board_policy), as we do have a few things we ask of you.

    Make sure you provide information as to how a candidate should get you their résumé.

  = simple_form_for @job_post_request, :html => {:multipart => true} do |f|
    %fieldset
      %legend Your contact info
      = f.input :name
      = f.input :email, as: :string, :hint => "Address to receive info about your post's status from IndyHackers"
    %fieldset
      %legend The job's info
      = f.input :title, :input_html => { :class => "job_title" }
      = f.input :company, :input_html => { :class => "job_company" }
      %p
        %strong Note:
        Job posts use Markdown syntax. See&nbsp;
        %a{:href => 'http://daringfireball.net/projects/markdown/syntax'}>  this Markdown reference
        \. For instance, a '+' before a line turns it into a list item!

      %ul.tab-menu
        %li.active
          %a{ href: '#' } Edit
        %li
          %a{ href: '#' } Preview
      .tab-container.active
        = f.input :description, :as => :text
        .input
          %label &nbsp;
          = f.button :submit, 'Send'
      #live-preview.tab-container
        #single-job.job.readable
          %h1 &nbsp;
          .job-description#markdown-target
            &nbsp;
          .clear &nbsp;

    .clear &nbsp;
