- title 'Job Post Request'
#job_post_request.readable
  %h2 Job Post Request

  %p= @job_post_request.errors
  = simple_form_for @job_post_request, :html => {:multipart => true} do |f|
    %fieldset
      %legend Your job post request
      = f.input :name
      = f.input :email
      = f.input :title
      = f.input :attachment, :as => 'file'
      = f.input :description, :as => :text
      .input
        %label &nbsp;
        = f.button :submit, 'Send'
