<%
board_members = [
  {
    name: 'Aaron Milam',
    picture: 'aaron.jpg',
    email: 'aaron@indyhackers.org',
    slack_url: 'https://indyhackers.slack.com/team/U7JGQBCBX',
    slack_handle: '@aaronmilam',
    twitter: 'https://twitter.com/IAmAMilam',
    linkedin: 'https://linkedin.com/in/aaronmilam'
  },
  {
    name: 'Andrew Robinson III',
    picture: 'andrew-robinson-iii.jpg',
    email: 'andrew@indyhackers.org',
    slack_url: 'https://indyhackers.slack.com/team/ar3',
    slack_handle: '@ar3',
    twitter: 'https://twitter.com/ar3_me',
    linkedin: 'https://linkedin.com/in/arthree'
  },
  {
    name: 'Aubrey Strasser',
    picture: 'aubrey.jpeg',
    email: 'aubrey@indyhackers.org',
    slack_url: 'https://indyhackers.slack.com/team/aubrey',
    slack_handle: '@aubrey',
    twitter: 'https://twitter.com/aSs031916',
    linkedin: 'https://linkedin.com/in/aubrey-strasser-03591b140/'
  },
  {
    name: 'Conlin Durbin',
    picture: 'conlin.jpeg',
    email: 'conlin@indyhackers.org',
    slack_url: 'https://indyhackers.slack.com/team/UG6J830KU',
    slack_handle: '@Conlin Durbin',
    twitter: 'https://twitter.com/CallMeWuz',
    linkedin: 'https://linkedin.com/in/wuz/'
  },
  {
    name: 'Josh Qualls',
    picture: 'josh.jpg',
    email: 'josh@indyhackers.org',
    slack_url: 'https://indyhackers.slack.com/team/UME7JF7GT',
    slack_handle: '@Josh Qualls',
    linkedin: 'https://www.linkedin.com/in/josh-qualls/'
  },
  {
    name: 'Mike Rogers',
    picture: 'mike.jpg',
    email: 'mike@indyhackers.org',
    slack_url: 'https://indyhackers.slack.com/team/mike',
    slack_handle: '@mike',
    twitter: 'https://twitter.com/mikerogers_',
    linkedin: 'https://linkedin.com/in/rmichaelrogers'
  },
  {
    name: 'Miles Z. Sterrett',
    picture: 'miles.jpeg',
    email: 'miles@indyhackers.org',
    slack_url: 'https://indyhackers.slack.com/team/mileszs',
    slack_handle: '@mileszs',
    twitter: 'https://twitter.com/mileszs',
    linkedin: 'https://linkedin.com/in/mileszs'
  },
]
%>

<section class="container">
  <h2>Board Members</h2>

  <% board_members.in_groups_of(3) do |member_group| %>
  <div class="three-columns about">
    <% member_group.each do |member| %>
    <% if member.nil? %>
    <div class="card blank"></div>
    <% else %>
    <div class="card">
      <%= image_tag "board/#{member[:picture]}", skip_pipeline: true, alt: member[:name], class: 'card-img-top' %>
      <div class="card-block">
        <h3 class="card-title"><%= member[:name] %></h3>
        <div class="contact">
          <a class="email" href="mailto:<%= member[:email] %>" target="BLANK">
            <i class="fa fa-envelope"></i>
          </a>
          <% if member[:twitter] %>
          <a class="twitter" href="<%= member[:twitter] %>" target="BLANK">
            <i class="fa fa-twitter"></i>
          </a>
          <% end %>
          <a class="linked" href="<%= member[:linkedin] %>" target="BLANK">
            <i class="fa fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
  <% end %>

</section>
