<%
board_members = [
  {
    name: 'Zach Cardwell',
    picture: 'zachcardwell.jpeg',
    email: 'zach@indyhackers.org',
    slack_url: 'https://indyhackers.slack.com/team/UNC2M2PQF',
    slack_handle: '@zcard',
    linkedin: 'https://www.linkedin.com/in/zachcardwell271828'
  },
  {
    name: 'Andrew Robinson III',
    picture: 'ajr3.jpeg',
    email: 'andrew@indyhackers.org',
    slack_url: 'https://indyhackers.slack.com/team/ar3',
    slack_handle: '@ar3',
    twitter: 'https://twitter.com/ar3_me',
    linkedin: 'https://linkedin.com/in/arthree'
  },
  {
    name: 'Erik Mudrak',
    picture: 'erik.jpeg',
    email: 'erik@indyhackers.org',
    slack_url: 'https://indyhackers.slack.com/team/U02U3QYV5JN',
    slack_handle: '@Erik Mudrak',
    linkedin: 'https://www.linkedin.com/in/ejmudrak/'
  },
  # {
  #   name: 'Conlin Durbin',
  #   picture: 'conlin.jpeg',
  #   email: 'conlin@indyhackers.org',
  #   slack_url: 'https://indyhackers.slack.com/team/UG6J830KU',
  #   slack_handle: '@Conlin Durbin',
  #   twitter: 'https://twitter.com/CallMeWuz',
  #   linkedin: 'https://linkedin.com/in/wuz/'
  # },
  {
    name: "Katie Hughes",
    picture: 'katiehughes.jpg',
    email: 'katie@indyhackers.org',
    slack_url: 'https://indyhackers.slack.com/team/U04FER25SAJ',
    slack_handle: '@Katie Hughes',
    linkedin: 'https://www.linkedin.com/in/katiehughes/'
  },
  {
    name: "Cameron Mueller",
    picture: 'cameron.jpeg',
    email: 'cameron@indyhackers.org',
    slack_url: 'https://indyhackers.slack.com/team/U045KAEU1GC',
    slack_handle: '@Cameron Mueller',
    linkedin: 'https://www.linkedin.com/in/cameronamueller'
  },
  {
    name: 'Stanton Sievers',
    picture: 'stantonsievers.jpeg',
    #email: 'stanton@indyhackers.org',
    slack_url: 'https://indyhackers.slack.com/team/ULATJ17B8',
    slack_handle: '@Stanton',
    linkedin: 'https://www.linkedin.com/in/stantonsievers/'
    },

  {
    name: 'Michael Welling',
    picture: 'michaelwelling.jpg',
    #email:'michael@indyhackers.org',
    slack_url: 'https://indyhackers.slack.com/team/U5BP6A84B',
    slack_handle: '@mewelling',
    linkedin: 'https://www.linkedin.com/in/mewelling/'
  },
  {
    name: 'Josh Hurst',
    picture: 'joshhurst.jpg',
    #email:'josh@indyhackers.org',
    slack_url: 'https://indyhackers.slack.com/team/UDTS3H8E7',
    slack_handle: '@josh',
    linkedin: 'https://www.linkedin.com/in/josh-hurst42/'
  },
  {
    name: 'Ben Cochran',
    picture: 'ben.jpg',
    #email:'ben@indyhackers.org',
    slack_url:'https://indyhackers.slack.com/team/UER6V5CMN',
    slack_handle: '@Ben Cochran',
    linkedin: 'https://www.linkedin.com/in/cochranb'
  },
  {
    name: "Mike Hockerman",
    picture: 'mikehockerman.png',
    #email: 'mikehockerman@indyhackers.org',
    slack_url: 'https://indyhackers.slack.com/team/UAH0Q04FN',
    slack_handle: '@Mike Hockerman',
    linkedin: 'https://www.linkedin.com/in/mhoc/'
  },
  {
    name: 'Andrew Poland',
    picture: 'andrew.jpeg',
    #email: 'andrew@indyhackers.org',
    slack_url: 'https://indyhackers.slack.com/team/U55NF30GY',
    slack_handle: '@Andrew Poland',
    linkedin: 'https://www.linkedin.com/in/polandandrew/'
  },
  {
    name: 'Chris Vannoy',
    picture: 'chris.jpeg',
    #email: 'chris@indyhackers.org',
    slack_url: 'https://indyhackers.slack.com/team/U57CW98TZ',
    slack_handle: '@chrisv',
    linkedin: 'https://www.linkedin.com/in/cvannoy/'
  },

#   {
#     name: 'Miles Z. Sterrett',
#     picture: 'miles.jpeg',
#     email: 'miles@indyhackers.org',
#     slack_url: 'https://indyhackers.slack.com/team/mileszs',
#     slack_handle: '@mileszs',
#     twitter: 'https://twitter.com/mileszs',
#     linkedin: 'https://linkedin.com/in/mileszs'
#   }
# ]
]
%>

<section class="container">
  <h2>Mission</h2>

  <p>IndyHackers strives to help tech people in Indiana grow by fostering community connections and celebrating individual successes.</p>
</section>

<section class="container">
  <h2>Board Members</h2>

  <% board_members.in_groups_of(3) do |member_group| %>
  <div class="three-columns about">
    <% member_group.each do |member| %>
    <% if member.nil? %>
    <div class="card blank"></div>
    <% else %>
    <div class="card">
      <%= image_tag "board/#{member[:picture]}", skip_pipeline: true, alt: member[:name], class: 'card-img-top' %>
      <div class="card-block">
        <h3 class="card-title"><%= member[:name] %></h3>
        <div class="contact">
          <% if member[:email] %>
          <a class="email" href="mailto:<%= member[:email] %>" target="BLANK">
            <i class="fa fa-envelope"></i>
          </a>
          <% end %>
          <% if member[:twitter] %>
          <a class="twitter" href="<%= member[:twitter] %>" target="BLANK">
            <i class="fa fa-twitter"></i>
          </a>
          <% end %>
          <a class="linked" href="<%= member[:linkedin] %>" target="BLANK">
            <i class="fa fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
  <% end %>

</section>
