<%
contact_map = {
  email: 'fa-envelope',
  linkedin: 'fa-linkedin',
  twitter: 'fa-twitter',
  website: 'fa-link',
  instagram: 'fa-instagram',
}
%>
<li>
  <h1>Speakers</h1>
  <p>
    This list was created to expose talented and diverse individuals who are
    local to Indianapolis. We encourage you to contact them for panels and
    conferences.
  </p>
  <br />
  <%=
    # <p>
    #   If you're interested in joining this list,{" "}
    #   <Link
    #     to="https://airtable.com/shrbBw5YZE60rie13"
    #     style={{
    #       textDecoration: `none`,
    #       color: "#008080",
    #     }}
    #   >
    #     fill out this form
    #   </Link>
    #   .
    # </p>
  %>
</li>
<% SPEAKERS.each do |speaker| %>
  <li class="clear-fix">
    <div class="layout-50-left">
      <%= image_tag "speakers/#{speaker[:picture]}", style: "max-width: 300px;" %>
    </div>
    <div class="layout-50-right">
      <h2><%= speaker[:name] %></h2>
      <h3>
        <%= speaker[:pronouns] %>
        &nbsp;>&nbsp;
        <% speaker[:contact].each do |key, value| %>
          <%= link_to ("<i class=\"fa #{contact_map[key.to_sym]}\"></i>").html_safe, value  %>
          &nbsp;
        <% end %>
      </h2>
      <p><%= speaker[:biography] %></p>
      <p><strong>Topics:</strong> <%= speaker[:topics] %></p>
      <p><strong>Interests:</strong> <%= speaker[:interests].join(', ') %></p>
    </div>
    <br class="clear" />
  </li>
<% end %>
