.grid_10.prefix_1
  %section#whatup.readable

    %h1 what's happenin'?

    %p
      :markdown
        [The Indy Hackers Holiday Social](http://indyhackersholidaysocial.eventbrite.com/) was a great time, if I do say so myself. I hope everyone had a great time. Thanks to all our sponsors, listed below, for making the night possible!

    %table{:style => 'text-align: center; margin: 0 auto; width: 600px;'}
      %tr
        %td= link_to image_tag('devtown_logo.png'), 'http://developertown.com'
        %td= link_to image_tag('telerik-logo.jpg'), 'http://telerik.com'
      %tr
        %td= link_to image_tag('oreilly_logo.gif'), 'http://oreilly.com'
        %td= link_to image_tag('wrox_logo.gif'), 'http://wrox.com'
      %tr
        %td= link_to image_tag('instrumental-logo.png'), 'http://instrumentalapp.com'
        %td= link_to image_tag('nframe-logo.gif'), 'http://nframe.com'
      %tr
        %td= link_to image_tag('proposaljet-logo.png'), 'http://proposaljet.com'
        %td= link_to image_tag('upland-logo.png', :width => 250, :height => 200), 'http://uplandbeer.com'

  %section#indy_hackers_calendar.readable
    %h1 indy hackers' calendar
    %p
      = link_to 'Month View', '/calendar'
      |
      = link_to 'Subscribe to the Events Feed', 'https://www.google.com/calendar/feeds/ig7e0j6v8ub9q6kga256n77048%40group.calendar.google.com/public/basic'
    <iframe src="http://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ig7e0j6v8ub9q6kga256n77048%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=America%2FNew_York" style=" border-width:0 " width="600" height="400" frameborder="0" scrolling="no"></iframe>

  %section#contact.readable
    %h1 missin' somethin'?
    %p
      :markdown
        If there's an event that you think is missing from our calendar, or if you want to recommend an event that you think is extra-special in the next month or so, email [miles@indyhackers.org](mailto:miles@indyhackers.org).

