<li class="blm" data-section="announcement">
  <div>
    <h2>Black Lives Matter</h2>
    <p>IndyHackers board stands with the Black community. Just saying we are allies isn’t enough. We owe it to the Black community of Indiana to do better. We commit to initiating anti-racist work within our community.</p>

    <p>As a start, we have donated directly to Black Lives Matter&mdash;$846 for the 8m and 46s George Floyd spent suffocating under a police officer sworn to serve and protect him. (<%= link_to "Here's the receipt", 'assets/blm-receipt.png' %>.) Next, we are working to create and fill a new position on the board, a position solely accountable for Diversity and Inclusion in everything we do. We intend to fill this position with a member of an underrepresented group in our local community.</p>

    <p>In the meantime, Andrew Robinson III (long-time board member who shifted his focus last year) has agreed to return to the board to guide and advise us in our efforts to fill this new position and to represent the Black community until the position is filled.</p>
  </div>
</li>
<li class="two-columns mb-30">
  <div>
    <h2>Indy Hackers</h2>
    <p>
      A network for all tech folks in Indiana. Fostering community connections and
      celebrating individual successes.
    </p>
  </div>
  <%= image_tag "out-the-box.png", alt: "One person jumping out of a box, while another jumps in the background." %>
</li>
<li class="wwihd">
  <h2>What we do</h2>
  <div class="three-columns">
    <div>
      <h3>Mentorship</h3>
      <%= image_tag "meeting.png", alt: "Two people meeting each other" %>
    </div>
    <div>
      <h3>Events</h3>
      <%= image_tag "meeting.png", alt: "Two people meeting each other" %>

    </div>
    <div>
      <h3>Meetups</h3>
      <%= image_tag "meeting.png", alt: "Two people meeting each other" %>
    </div>
  </div>
</li>
<li>
  <h2>Our calendar</h2>
  <iframe src="//www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ig7e0j6v8ub9q6kga256n77048%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=America%2FNew_York" style="border-width:0 " width="710" height="400" frameborder="0" scrolling="no"></iframe>
  <div class="calendar-links">
    <%= link_to 'Recommend event', 'https://docs.google.com/forms/d/e/1FAIpQLSdlfIqF42uU8iyoYyqKDFPEYRsNCOCFYpFJwMTvdVOkK3otSg/viewform?usp=sf_link' %>
    <%= link_to 'Subscribe to calendar', 'webcal://calendar.google.com/calendar/ical/ig7e0j6v8ub9q6kga256n77048%40group.calendar.google.com/public/basic.ics' %>
  </div>
</li>