<section class="two-columns announcements" data-section="announcement">
  <div class="container slack">
    <h2><a href="https://slack.indyhackers.org">Join us on Slack!</a></h2>
    <p>Our Slack group brings hackers, programmers, makers, and tech folks of all kinds together. You're invited - don't forget to check out our <a href="/coc" class="code-of-conduct">Code of Conduct</a> first!</p>
    <p><a href="https://slack.indyhackers.org" class="join-slack">Slack it to me!</a></p>
  </div>
</section>

<section class="two-columns mb-30 container">
  <div>
    <h1>Fostering the Indiana tech community</h1>
    <p>
      A network for all tech folks in Indiana. Fostering community connections and
      celebrating individual successes.
    </p>
  </div>
  <div>
  <%= image_tag "high-five.png", alt: "One person jumping out of a box, while another jumps in the background.", class: "img-resp" %>
  </div>
</section>
<section class="wwihd">
  <div class="container">
    <h2>What we do</h2>
    <div class="three-columns">
      <div>
        <h3>Mentorship</h3>
        <%= image_tag "mentor.png", alt: "Hand with pen drawing a ladder", class: "img-resp" %>
      </div>
      <div>
        <h3>Events</h3>
        <%= image_tag "events.png", alt: "Finger pointing at a date on a calendar", class: "img-resp" %>
      </div>
      <div>
        <h3>Meetups</h3>
        <%= image_tag "meetups.png", alt: "Hand holding a business card", class: "img-resp" %>
      </div>
    </div>
  </div>
</section>
<section id="event-calendar">
  <h2>Our calendar</h2>
  <iframe src="//www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ig7e0j6v8ub9q6kga256n77048%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=America%2FNew_York" style="border-width:0 " width="710" height="400" frameborder="0" scrolling="no"></iframe>
  <div class="calendar-links">
    <%= link_to 'Recommend event', 'https://docs.google.com/forms/d/e/1FAIpQLSdlfIqF42uU8iyoYyqKDFPEYRsNCOCFYpFJwMTvdVOkK3otSg/viewform?usp=sf_link' %>
    <%= link_to 'Subscribe to calendar', 'webcal://calendar.google.com/calendar/ical/ig7e0j6v8ub9q6kga256n77048%40group.calendar.google.com/public/basic.ics' %>
  </div>
</section>

