!!! 5
%html
  %head
    %meta{:charset => "utf-8"}/

    %title= yield(:title).blank? ? "IndyHackers - Events and Jobs for Tech Folks in Indianapolis" : "#{yield(:title)} - IndyHackers"

    %meta{:content => 'IndyHackers', :name => "author"}/
    - if yield(:description).blank?
      %meta{:content => "Bringing together hackers in Indiana", :name => "Description"}/
    - else
      = yield(:description)
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans&display=swap" rel="stylesheet">

    = stylesheet_link_tag 'application'
    = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    = favicon_link_tag "/favicon.png"
    = yield(:head)

  %body{class: "#{params[:controller].split('/').join(' ')} #{params[:action]}"}
    = admin_header
    .main.main-body.container
      .header.navbar
        %div.logo-container.navleft
          = link_to image_tag('ih-logo-black.png', alt: 'Indy Hackers Logo', width: '300px'), "/"

        %ul.menu.navright
          %li= link_to 'Home', '/'
          %li= link_to 'Newsletter', '/newsletter'
          %li= link_to 'Jobs', '/jobs'
          %li= link_to 'Events', '/events'
          %li= link_to 'Sponsors', '/sponsors'
          %li= link_to 'About', '/about'

      .content.clear-fix
        - if notice
          %section
            .notice= notice
        - if alert
          %section
            .alert.danger= alert
        = yield

      .footer
        %div.footer-links
          %div
            %span About Us
            %p
              =link_to 'Meet our Board', '/about'
            %p
              =link_to 'Code of Conduct', '/coc'
            // %p
            //  =link_to 'Mentorship Program', '/'
            %p
              =link_to 'Donate', 'https://donate.stripe.com/bIY17XcYL77c0HSdQQ', target: :_blank

          %div
            %span Contact
            %p
              = link_to '@indyhackersorg', "https://twitter.com/indyhackersorg"
            %p
              = link_to 'Slack Community', "https://slack.indyhackers.org"
            %p
              = link_to 'GitHub', "https://github.com/indyhackers/indyhackers.org"
        %div.made-by
          = link_to inline_svg_tag('ih-logo.svg', :class => 'logo-gray'), '/'
          %p.ff-sm
            Made with ❤️ by the Indy Hackers board

    = javascript_include_tag 'application'
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZF5Q1C13NM"></script>
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZF5Q1C13NM');
    = yield(:footer)
