!!! 5
%html
  %head
    %meta{:charset => "utf-8"}/

    %title= yield(:title).blank? ? "IndyHackers - Events and Jobs for Tech Folks in Indianapolis" : "#{yield(:title)} - IndyHackers"

    %meta{:content => 'Miles Z. Sterrett', :name => "author"}/
    - if yield(:description).blank?
      %meta{:content => "Bringing together hackers in Indiana", :name => "Description"}/
    - else
      = yield(:description)
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans&display=swap" rel="stylesheet"> 

    = stylesheet_link_tag 'application'
    = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    = favicon_link_tag "/favicon.png"
    = yield(:head)

  %body{class: "#{request[:controller].split('/').join(' ')} #{request[:action]}"}
    = admin_header
    .main.main-body
      .header.clear-fix
        .layout-50p-left.clear-fix
          = link_to image_tag('indyhackers-logo.png', :class => 'logo'), '/'
          = link_to 'Indy Hackers', '/', :class => 'header-logo'


        .layout-50p-right
          .header-phone
            %ul.no-list.menu
              %li= link_to 'Newsletter', '/newsletter'
              %li= link_to 'Jobs', '/jobs'
              %li= link_to 'Calendar', '/calendar'

      .content.clear-fix
        %ul.no-list.clear-fix.section-list

          - if notice
            %li.text-center.clear-fix
              .notice= notice
          - if alert
            %li.text-center.clear-fix
              .alert= alert
          = yield

      .footer.layout-50.clear-fix
        .layout-50-left
          %h2 missin' somethin'?
          %p
            Want to recommend an event for the calendar? Fill out&nbsp;
            %a{ :href => 'https://docs.google.com/forms/d/e/1FAIpQLSdlfIqF42uU8iyoYyqKDFPEYRsNCOCFYpFJwMTvdVOkK3otSg/viewform?usp=sf_link' }> this form
            \.
          %p
            Coming to one of our events, or joining us on Slack? Cool!
            %br
            Check out our
            =link_to 'Code of Conduct', '/coc'
            \, and
            =link_to 'meet our Board', '/about'
          %p
            Just wanna chat? Hit us up at
            = link_to '@indyhackersorg', "https://twitter.com/indyhackersorg"

        #made-by.layout-50-right
          %h3 This thing you're looking at
          %p
            :markdown
              This web app sorta thing has been crafted lovingly but with wild abandon by [The Indy Hackers Board](/about#the-board). It's warty and it oozes unspeakably in some places. Find out [on GitHub](https://github.com/indyhackers/indyhackers.org).

              Background photo by Garrett Hart.


    = javascript_include_tag 'application'
    <!-- Google Analytics -->
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3615572-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    <!-- END Google Analytics -->
    = yield(:footer)
