!!! 5
%html
  %head
    %meta{:charset => "utf-8"}/
    %title IndyHackers
    %meta{:content => 'Miles Z. Sterrett', :name => "author"}/
    %meta{:content => "Bringing together hackers in the Indianapolis area.", :name => "Description"}/
    %link{:href => "/jobs.xml", :rel => "alternate", :title => "Job Board Feed", :type => "application/atom+xml"}/
    %link{:href => "//fonts.googleapis.com/css?family=Philosopher&subset=latin", :rel => "stylesheet", :type => "text/css"}/
    / 960 Grid System
    = stylesheet_link_tag '960/reset', '960/text', '960/960', 'screen'
  %body
    #header
      #menu-container.container_12
        %h1
          %a{:href => "/"} IndyHackers
        %ul#menu
          - if admin_signed_in?
            %li= link_to 'jobs admin', admin_jobs_path
            %li= link_to 'logout', destroy_admin_session_path
            %li ||
          %li
            %a{:href => "/jobs"} jobs
          %li
            %a{:href => "/job_post_requests/new"} submit a job
          %li.last
            %a{:href => "http://blog.indyhackers.org"} blog
    .container_12
      #body
        .grid_12
          - if notice
            %div.notice= notice
          - if alert
            %div.alert= alert
          = yield
        .clear &nbsp;
      #footer
        %hr/
        .grid_6.prefix_3.suffix_3
          :markdown
            Made with love by [mileszs](https://mileszs.com) :: Follow us [on Twitter](https://twitter.com/indyhackersorg)

        .clear &nbsp;
    <!-- Google Analytics -->
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
        var pageTracker = _gat._getTracker("UA-3615572-3");
        pageTracker._trackPageview();
        } catch(err) {}
    <!-- END Google Analytics -->
    = yield(:footer)
    = javascript_include_tag 'jquery-1.5.min', 'rails', 'app'
